@model HKDB.Models.Application;
@{
    var AppName = ViewBag.AppName as string;
    var model = ViewBag.model as string;
    var parameter = ViewBag.parameter as string;
    var Aifile = ViewBag.Aifile as List<Aifile>;
}

<div class="w-100 align-items-center justify-content-center d-flex flex-column flex-md-row px-2"
     style="height: calc(100vh - 70px);background-color: #2e1f6d;">
        <div class="col d-flex flex-column align-items-center">
            <div class="row w-100 align-items-center justify-content-center m-0 mt-5 flex-column flex-sm-row">
            <h1 class="col-sm-4 col d-flex m-0 h-100 align-items-center justify-content-center" style="color:#48bee2;font-family: 'Orbitron', sans-serif;">Modle</h1>
                <div class=" col-md-5 col h-100 border-0 me-2 px-0 d-flex align-items-center justify-content-center">
                <select asp-for="Model" class="form-select bg-body-secondary p-0" type="text"
                        style="font-size: calc(1.375rem + 1vw);">
                    <option class="w-100" value="gpt-35-turbo" selected style="width: 100%;background-color:white;">gpt-35-turbo</option>
                <option class="w-100" value="gpt-davinci-003" style="width: 100%;background-color:white;">gpt-davinci-003</option>
                <option class="w-100" value="text-curie-001" style="width: 100%;background-color:white;">text-curie-001</option>
                <option class="w-100" value="text-babbage-001" style="width: 100%;background-color:white;">text-babbage-001</option>
                <option class="w-100" value="text-ada-001" style="width: 100%;background-color:white;">text-ada-001</option>
                    </select>
                </div>

            </div>

        <div class="row w-100 align-items-center justify-content-center mt-5 flex-column flex-sm-row">
            <h1 class="col-sm-4 col d-flex m-0 h-100 align-items-center justify-content-center" style="font-family: 'Orbitron', sans-serif;color:#48bee2;">App Name*</h1>
                <input asp-for="ApplicationName" class="h-100 col-md-5 col md-50 me-2 "
                   type="text" style="font-size: calc(1.375rem + 1vw);" value="@AppName">


            </div>
        <div class="row w-100 align-items-center justify-content-center my-5 flex-column flex-sm-row">
            <h1 class="col-sm-4 col d-flex m-0 h-100 align-items-center justify-content-center" style="color:#48bee2;font-family: 'Orbitron', sans-serif;">Maxtoken*</h1>
               <input asp-for="Parameter" class="h-100 col-md-5 col rounded-pill bg-body-secondary border-0 md-50 me-2 px-5"
                   type="text" style="font-size: calc(1.375rem + 1vw);" value="@parameter">

            </div>
            <button class="btn btn-primary w-75 mt-5" id="submitButton">
                <h1 class="m-0">Submit</h1>
            </button>
        </div>




    <div class="col-md-5 col align-items-center justify-content-center flex-column flex-sm-row p-md-3 mt-3" style="height: calc(300px + 10vh);overflow-y:scroll;">
        <form method="post" enctype="multipart/form-data" asp-controller="MemberFunction" asp-action="Renewuploadfileapp" class="w-100 align-items-center justify-content-center d-flex flex-column px-2" style="">
                <div class="row w-100 align-items-center justify-content-center flex-column flex-sm-row "
                     style="height: 100px;">
                
                <h1 class="col-sm-4 col d-flex m-0 h-100 align-items-center justify-content-center" style="color:#48bee2;font-family: 'Orbitron', sans-serif;">Upload</h1>
                    @*<input class="h-100 col-md-5 col rounded-pill bg-body-secondary border-0 md-50 me-2 px-5 py-2 text-sm-start" type="file" style="font-size: 18pt;">*@
                    <input type="file" class="form-control" name="files" id="fileUpload" accept=".pdf,.csv,.txt,.json" multiple />
                </div>
                <input type="submit" id="Renewuploadfileapp"  class="btn btn-primary w-100 mt-5"/>
            </form>
            <table class="w-100 mt-50">
                <tbody>
                    <tr>
                        @foreach (var file in Aifile)
                        {
                            <td id="@file.AifileId" class="border-1 d-flex align-items-center justify-content-between px-2 mt-2" style="height: 80px;background-color:white;">
                            <h1 h5 >@file.AifilePath</h1>
                                <h1>@file.AifileId</h1>
                                <button type="button" class="btn btn-outline-secondary h-50 p-1 delete-button" data-id="@file.AifileId">
                                    <img class="h-100" src="/assets/trash-can.png " alt="">
                                </button>

                            </td>
                        }

                    </tr>
                </tbody>
            </table>
            
        </div>
        </div>


      @*  <div class="w-100 justify-content-around row position-absolute"
             style="height:100px; bottom: 30px;">
            <input type="submit"
                   class="btn btn-primary col-md-3 col-5 h-100 rounded-pill d-flex align-items-center justify-content-center"
                   style="font-size: calc(1.375rem + 1vw);" value="創建">
            <a asp-action="Index" asp-controller="Home"
               class="btn btn-danger col-md-3 col-5 h-100 rounded-pill d-flex align-items-center justify-content-center">
                <h1>取消</h1>
            </a>
        </div>*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#submitButton').click(function (e) {
                e.preventDefault();
                var model = $('select[name="Model"]').val();
                var applicationName = $('input[asp-for="ApplicationName"]').val();
                var parameter = $('input[asp-for="Parameter"]').val();

                var data = {
                    Model: model,
                    ApplicationName: applicationName,
                    Parameter: parameter
                };

                $.ajax({
                    url: '/MemberFunction/Reviseapp',
                    type: 'POST',
                    data: data,
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (err) {
                        console.error(err);
                    }
                });
            });
        });


        $('.delete-button').click(function () {
            var fileId = $(this).data('id');
            console.log(fileId);
            $.ajax({
                url: '/MemberFunction/Deletefile',
                type: 'POST',
                data: { id: fileId },
                success: function (result) {
                    console.log("success")
                    console.log(result);
                    $('td#' + fileId).remove();
                },
                error: function (err) {
                    console.log("error")
                    console.error(err);
                }
            });
        });




        $(document).ready(function () {
            var selectedModel = '@ViewBag.model'; // 从ViewBag获取模型值
            $('select[name="Model"]').val(selectedModel); // 设置选择器的值
        });


        $('#rangeInput').on('input', function () {
            $('#rangeValue').text($(this).val());
        })
    </script>

