@{
    var applist = ViewBag.AppList as List<Application>;
}

<div class="w-100 h-75 align-items-center justify-content-around d-flex position-absolute flex-column-reverse flex-sm-row">
    <div class="col-sm-3 h-100 ">
        <div class=" w-100 h-100 d-flex flex-sm-column align-items-center">
            <form action="" class="w-100">
                <button class="btn btn-outline-dark w-100 rounded-0  py-2" id="btnMemberData">
                    <h1 class="m-0">會員資料</h1>
                </button>
                <button class="btn btn-outline-dark w-100 rounded-0 py-2" id="btnAppModify">
                    <h1 class="m-0">應用修改</h1>
                </button>
                <button asp-action="MemberIndex" asp-controller="Chat" class="btn btn-outline-dark w-100 rounded-0 py-2">
                    <h1 class="m-0">離開</h1>
                </button>
            </form>
        </div>
    </div>
    <div class="col-sm-9 h-100" id="memberData">
        <div class="p-xl-5 p-sm-1 p-5  d-flex flex-column align-items-center justify-content-center">
            <div class="col-4 col-md-3 rounded-circle h-auto overflow-hidden me-sm-5">
                <img class="w-100" src="/Assets/user1.jpg" alt="">
            </div>

            <form class="d-flex align-items-center justify-content-center">
                <ul class="m-0 p-0 w-75 ps-sm-5">
                    <li class="d-flex mt-5 " style="height: calc(1.375rem + 1.5vw); align-items: center;">
                        <h1 class="m-0 fw-bolder" style="white-space:nowrap;">姓名:</h1>
                        <input id="memberName" type="text" class="fw-bolder border-0 col-5 h-100 border-bottom border-3 border-dark"
                               style="text-align:center;font-size: calc(1.375rem + 1.5vw);"
                               value=@ViewBag.MemberName />
                        <button class="btn btn-light border-dark border-2 p-1 d-flex align-items-center justify-content-center h-100 ms-1">
                            <img class="h-100" src="/Assets/edit.png"
                                 alt="">
                        </button>
                    </li>
                    <li class="d-flex mt-5">
                        <h1 class="m-0 fw-bolder" style="white-space:nowrap;">帳號:</h1>
                        <h1 class="m-0 fw-bolder" style="white-space:nowrap;" id="memberAccount">@ViewBag.MemberEmail</h1>
                    </li>
                    <li class="d-flex mt-5" style="height: calc(1.375rem + 1.5vw); align-items: center;">
                        <h1 class="m-0 fw-bolder" style="white-space:nowrap;">密碼:</h1>
                        <input id="memberPassword" name="MemberPassword" type="password" class="m-0 fw-bolder border-0 col-5 h-100 border-bottom border-3 border-dark"
                               style="text-align:center;font-size: calc(1.375rem + 1.5vw);"
                               value=@ViewBag.MemberPassword justify-content-center h-100 ms-3">
                        <button id="Managebtn" class=" btn btn-light border-dark border-2 p-1 d-flex align-items-center justify-content-center h-100 ms-1">
                            <img class="h-100" src="/Assets/edit.png" alt="">
                        </button>
                    </li>

                </ul>
            </form>
        </div>
    </div>

    <div class="col-sm-9 h-100" id="appModify">
        <form class="p-xl-5 p-sm-1 p-5  d-flex flex-column align-items-center justify-content-center">
            @if(applist != null){
                @foreach (var a in applist)
                {
                    <a onclick="sendData('@a.ApplicationId', '@a.Parameter', '@a.ApplicationName')" class="btn btn-outline-secondary w-100 mb-5 d-flex justify-content-between align-items-center" style="height:calc(50px + 5vh); ">
                        <h1 class="m-0">@a.ApplicationName</h1>
                        <div class="w-25 h-100 d-flex align-items-end justify-content-end">
                        </div>
                    </a>
                }

            }
                
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



<script>

    function sendData(appId, parameter, appName) {
        console.log("ok")
        $.ajax({
            url: '/MemberFunction/Appchooseresult', 
            type: 'POST',
            data: {
                ApplicationId: appId,
                Parameter: parameter,
                ApplicationName: appName
            },
            success: function (response) {
                console.log(response);
                // 请求成功后的处理逻辑
                console.log('Data sent successfully');
                window.location.href = '/MemberFunction/Appmanage';
            },
            error: function (error) {
                console.error(error);
            }
        });
    }

    $('#Managebtn').click(function (event) {
        event.preventDefault(); 
        console.log("ok")
        var newName = $('#memberName').val();
        var newPassword = $('#memberPassword').val();
        var memberAccount = $('#memberAccount').text();

        $.ajax({
            url: '/MemberFunction/Manage',
            type: 'POST',
            data: {
                name: newName,
                password: newPassword,
                account: memberAccount
            },
            success: function (data) {
                console.log(data);
            }
        });
    });

    $(document).ready(function () {
        // 預設情況下先隱藏應用修改區塊
        $('#appModify').hide();

        // 當點擊會員資料按鈕時
        $('#btnMemberData').click(function (event) {
            event.preventDefault();
            $('#memberData').show();
            $('#appModify').hide();
        });

        // 當點擊應用修改按鈕時
        $('#btnAppModify').click(function (event) {
            event.preventDefault();
            $('#appModify').show();
            $('#memberData').hide();
        });
    });



</script>