@{
    var Applist = ViewBag.Applist as List<Application>;
}

<head>
    <style>
        .slider-bar::-webkit-scrollbar {
            width: 8px; /* 设置滚动条宽度，根据需要调整 */
        }

        .slider-bar::-webkit-scrollbar-thumb {
            background-color: #4dafff; /* 设置滚动条滑块颜色，根据需要调整 */
            border-radius: 3px; /* 设置滚动条滑块圆角，根据需要调整 */
        }

            .slider-bar::-webkit-scrollbar-thumb:hover {
                background-color: #2175b9; /* 设置滚动条滑块在悬停时的颜色，根据需要调整 */
            }
    </style>
</head>
<div class="w-100" style="height: calc(100vh - 150px);background-color: #2e1f6d;">
    <div class="w-100 h-100 align-items-center justify-content-start row flex-column flex-nowrap overflow-y-scroll slider-bar">
                <h1>Home</h1>
            </a>
        </header>
        <div class="w-100 align-items-center justify-content-start row flex-column flex-nowrap overflow-y-scroll" style="height: calc(100% - 160px);">
                <h1>Home</h1>
            </a>
        </header>
        <div class="w-100 align-items-center justify-content-start row flex-column flex-nowrap overflow-y-scroll" style="height: calc(100% - 160px);">
            @if (Applist == null || Applist.Count == 0)
            {
                <a asp-action="MemberIndex" asp-controller="Chat" class="btn btn-danger col-9 d-flex justify-content-center align-items-center  h-75">
                <h1 class="text-center">No Application</h1>
                </a>
            }
            else
            {
                @foreach (var a in Applist)
                {
                    <a onclick="sendData('@a.ApplicationId', '@a.Parameter', '@a.ApplicationName')" class="ms-2 mt-5 btn  col-6 justify-content-between d-flex align-items-center" style="font-size: calc(1.375rem + 1vw);background-color:white;border:4px solid #48bee2;">
                        <h2 class="col-4 m-0">@a.ApplicationName</h2>
                        <div class="col-4 h-100 d-flex align-items-end justify-content-end">
                            <h6>id: @a.ApplicationId</h6><h6>temp: @a.Parameter</h6>
                        </div>
        <footer class="w-100 border-top row m-0 justify-content-center align-items-center" style="height: 80px;">
            <a asp-action="MemberIndex" asp-controller="chat" class="btn btn-danger col-9 d-flex justify-content-center align-items-center  h-75">
                <h1>Quit</h1>
            }



        </div>
        <footer class="w-100 border-top row m-0 justify-content-center align-items-center" style="height: 80px;">
            <a asp-action="Show" asp-controller="Home" class="btn btn-danger col-9 d-flex justify-content-center align-items-center  h-75">
                <h1>Home</h1>
            </a>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $('#rangeInput').on('input', function () {
            $('#rangeValue').text($(this).val());
        })

        function sendData(applicationId, parameter, applicationName) {
            var data = {
                applicationId: applicationId,
                parameter: parameter,
                applicationName: applicationName
            };

            $.ajax({
                type: 'POST',
                url: '/Chat/ChooseApp',  // 替换为您的控制器和动作名称
                data: data,
                success: function (response) {
                    // 请求成功后的处理逻辑
                    console.log('Data sent successfully');
                    window.location.href = '/Chat/Qa';
                },
                error: function (error) {
                    // 请求失败后的处理逻辑
                    console.log('Error sending data');
                }
            });
        }



    </script>
