@using HK_Project.ViewModels;
@using Microsoft.AspNetCore.Http;
@{
    //var chats = ViewBag.Userchatlist as List<Chat>;
    var chats = ViewBag.Chats as List<Chat>;
    var ChatQaHistory = ViewBag.ChatQaHistory as List<Qahistory>;
    //var Userappname = Context.Session.GetString("Userchoosename");
    
}   

<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .slider-bar::-webkit-scrollbar {
            width: 8px; /* 设置滚动条宽度，根据需要调整 */
        }

        .slider-bar::-webkit-scrollbar-thumb {
            background-color: #4dafff; /* 设置滚动条滑块颜色，根据需要调整 */
            border-radius: 3px; /* 设置滚动条滑块圆角，根据需要调整 */
        }

            .slider-bar::-webkit-scrollbar-thumb:hover {
                background-color: #2175b9; /* 设置滚动条滑块在悬停时的颜色，根据需要调整 */
            }
    </style>
</head>

<body>
    <a class="btn col-3 d-flex align-items-center justify-content-center position-absolute mt-10"
       style="height: 75px;width: 75px;top: 75px;left: 10px; z-index: 2;background-color: #21174B;">
        <img src="/assets/List.png"
             alt="" class="w-100" id="list">
    </a>
    <div class="row w-100 m-0 " style=" height:calc(100vh - 70px);background-color: #661586;">
        <div class="col-md-4 row flex-column m-0 p-0 align-items-center h-100 flex-nowrap" id="leftbar">
            <div class="d-flex row justify-content-end p-0" style="height: 75px;margin-bottom:5px;margin-top: 5px;">

                <a class="btn ms-sm-0 col-sm-8 col me-sm-0 me-2 d-flex align-items-center justify-content-start overflow-hidden " style="white-space: nowrap;font-size: calc(1rem + 1.5vw); font-family: 'Orbitron', sans-serif;background-color: #21174B;color: #6AAFF2;margin-left: 100px;height: 75px;" id="createbtn"><p class="m-0">+ Create Chat</p></a>
            </div>
            <div style="height:calc(100% - 85px);background-color: #21174B;" class="rounded-1 d-flex flex-column p-0">
                <div class=" px-2 slider-bar" style="height: 75%;overflow: auto;border-bottom:5px solid #ca3491;"
                     id="chatHis">

                    @if (chats != null)
                    {
                        @foreach (var chat in chats)
                        {
                            <a class="btn w-100 rounded-4 d-flex align-items-center justify-content-between x-2 chat-button fw-bolder overflow-hidden"
                               style=" white-space: nowrap; font-family: 'Orbitron', sans-serif;font-size: 2em; height: 80px; margin-top: 10px;background-color: #2c4296;color: #EBA4D2;">
                                <h1 class="col me-5 m-0 overflow-hidden" data-id="@chat.ChatId">@chat.ChatName - @chat.ApplicationId</h1>
                                <button type="button" class="btn btn-outline-info p-2 border-2 "><h4 class="m-0">X</h4></button>
                            </a>
                        }
                    }
                </div>

                <div id="qrModal" class="modal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" style="font-family: 'Orbitron', sans-serif;">Your QR Code</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img id="qrImage" src=@ViewBag.ImageUrl alt="Your QR Code" />
                                <div id="qrText" class="mt-2"></div> <!-- 新增的 div -->
                                <button id="copyButton" class="btn btn-secondary mt-2">複製文字</button>
                                <!-- 新增的複製按鈕 -->
                                <img id="Linebot" src=/assets/linebot.png  alt ="Your QR Code" />
                                <h1>LineBot</h1>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="px-2">
                    <a id="generateQRCode" class="btn w-100 rounded-5 d-flex align-items-center justify-content-center overflow-hidden"
                       style=" height: 80px; margin-top: 10px;background-color: #41d3ff;"><h1 class="m-0" style="font-size: calc(1rem + 1.5vw);font-family: 'Orbitron', sans-serif;">Create QRcode</h1></a>
                    <a asp-controller="Chat" asp-action="ChooseApp"
                       class="btn btn w-100 rounded-5 d-flex align-items-center justify-content-center overflow-hidden"
                       style=" height: 80px; margin-top: 10px; background-color: #fa435c;">
                        <h1 style="font-size: calc(1rem + 1.5vw);font-family: 'Orbitron', sans-serif;" class="m-0">@ViewBag.Appname</h1>
                    </a>
                </div>
            </div>
        </div>

        <div class="col ms-sm-1 px-0 h-100 ">
            <div class="mt-sm-1 me-sm-1 overflow-y-scroll px-1 slider-bar" id="chatPart" style="height: 90%;background-color: #21174B;">
                <!--問-->
                <div class="chat-content w-100 p-5 d-flex flex-column align-items-end"
                     style="height:auto;background-color: #21174B;">
                </div>
                @if (ChatQaHistory != null)
                {
                    @foreach (var item in ChatQaHistory)
                    {
                        <div class="chat-content w-100  p-5 d-flex flex-column align-items-end"
                             style="height:auto ;background-color: #21174B;color: #fc8ad4;border-bottom:2px solid #fc8ad4 ;">
                            <p class="m-0 h1">問</p>
                            <p class="m-0 h4 mt-3">
                                @item.QahistoryQ
                            </p>
                        </div>
                        <div class="chat-content w-100  p-5 d-flex flex-column"
                             style="height:auto ;background-color: #21174B;color: #fdfa50;border-bottom:2px solid #fdfa50;">
                            <p class="m-0 h1">答</p>
                            <p class="m-0 h4 mt-3">
                                @item.QahistoryA
                            </p>
                        </div>

                    }
                }



            </div>


            <div class="row col  px-2 me-sm-2 m-0 align-items-center justify-content-center"
                 style="height: 8vh;background-color: #0d4aa5;">
                <div class="col p-0 h-75">
                    <textarea name="question" type="text" class="w-100 h-100 p-1 slider-bar" id="chatquestion"
                              style="font-size: calc(1rem + 1.5vh);resize:none;line-height: (1rem + 1.5vh);background-color: #0d4aa5;border: 0px;color:white;" rows="3"
                              placeholder="Please Enter The Question"></textarea>
                </div>
                <div class="col-3 p-0 h-75">
                    <button id="sendout" type="submit"
                            class="btn btn-primary w-100 h-100 d-flex align-items-center justify-content-center"
                            style="font-size: calc(1rem + 1.5vh);">
                        <p class="m-0 p-0 " style="font-family: 'Orbitron', sans-serif;">Submit</p>
                    </button>
                </div>
            </div>

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#generateQRCode').click(function (e) {
                console.log("OK")
                e.preventDefault();
                $.ajax({
                    url: '/Chat/QRCode',
                    type: 'POST',
                    success: function (data) {
                        console.log(data)
                        $('#qrImage').attr('src', data.imageUrl);
                        $('#qrText').text(data.data); //設置文字
                        $('#copyButton').off('click').click(function () { //綁定複製事件
                            var tempInput = document.createElement("input");
                            tempInput.value = $('#qrText').text();
                            document.body.appendChild(tempInput);
                            tempInput.select();
                            document.execCommand("copy");
                            document.body.removeChild(tempInput);
                            alert("複製成功!");
                        });

                        $('#qrModal').modal('show');
                    }
                });
            });
        });



        document.getElementById('list').addEventListener('click', function () {
            var leftbar = document.getElementById('leftbar');
            leftbar.classList.toggle('d-none');
        });

        
        //即時聊天室內容
        $(document).ready(function () {
            $('#sendout').click(function () {
                $('#sendout').prop("disabled", true);
            chatid = $(this).data('id');
                console.log("ok")
                var question = $('textarea[name="question"]').val();
                var questionDiv = `
                                 <div class=" w-100  p-5 d-flex flex-column align-items-end"
                                     style="height:auto ;background-color: #21174B;color: #fc8ad4;border-bottom:2px solid #fc8ad4 ;">
                                    <p class="m-0 h1">問</p>
                                    <p class="m-0 h4 mt-3">
                                        ${question}
                                    </p>
                                </div>`;
                
                $(".chat-content").append(questionDiv);
                $.ajax({
                    url: '/Chat/qainput',
                    type: 'post',
                    data: { 'question': question},
                    success: function (response) {
                        console.log("success")
                        console.log(response);
                        var answerDiv = `
                                <div class=" w-100  p-5 d-flex flex-column"
                                     style="height:auto ;background-color: #21174B;color: #fdfa50;border-bottom:2px solid #fdfa50;">
                                    <p class="m-0 h1">答</p>
                                    <p class="m-0 h4 mt-3">
                                    ${response}
                                    </p>
                                </div>`;
                        $(".chat-content").append(answerDiv);
                        //this.disabled = true;
                        $('#sendout').prop("disabled", false);
                    },
                    Error:function(error){
                        console.log("error")
                        console.log(error)
                        var answerDiv = `
                                        <div class=" w-100  p-5 d-flex flex-column"
                                             style="height:auto ;background-color: #21174B;color: #fdfa50;border-bottom:2px solid #fdfa50;">
                                            <p class="m-0 h1">答</p>
                                            <p class="m-0 h4 mt-3">
                                                        ${"很抱歉，我無法理解您的問題，請您提供相關的問題或資訊，讓我可以為您服務。謝謝。"}
                                            </p>
                                        </div>`;
                        $(".chat-content").append(answerDiv);
                        //this.disabled = true;
                        $('#sendout').prop("disabled", false);
                    }
                });
                $("#chatquestion").val("")
                
            });
        });

        //產出新聊天室
        $(document).ready(function () {
            $("#createbtn").click(function (e) {
                console.log("click");
                e.preventDefault();
                $.ajax({
                    url: '/Chat/Creatchat', // Replace 'YourControllerName' with the actual name of your controller
                    type: 'POST',
                    success: function (data) {
                        console.log("Success")
                        console.log(data);
                        var newChat = `<a class="btn btn-secondary w-100 rounded-5 d-flex align-items-center justify-content-center x-2 chat-button"
                                                                style="font-size: 2em; height: 80px; margin-top: 10px;"
                                                                    data-id="${data.chatId}">
                                                                        ${data.chatName}-${data.applicationId}
                                                            </a>`;
                        $("#chatHis").append(newChat);
                        $(".chat-content").empty();
                    },Error:function(error){
                        console.log("Error")
                        console.log(error);
                    }
                });
            });
        });

        //疊代出歷史聊天室內容
        $(document).ready(function () {
            $(".chat-button").click(function (e) {
                e.preventDefault();
                var chatId = $(this).data("id");
                $.ajax({
                    url: '/Chat/GetChatHistory',
                    type: 'POST',
                    data: { id: chatId },
                    success: function (data) {
                        // 清空現有的對話
                        $(".chat-content").empty();
                        console.log(data)
                        // 添加新的對話
                        data.forEach(item => {
                            console.log(item);

                            var questionDiv = `
                                                        <div class=" w-100 bg-body-secondary p-5 d-flex flex-column align-items-end" style="height:auto">
                                                    <p class="m-0 h1">問</p>
                                                            <p class="m-0 h4 mt-3">${item['qahistoryQ']}</p>
                                                </div>`;
                            var answerDiv = `
                                                        <div class=" w-100 bg-body-secondary p-5 d-flex flex-column" style="height:auto">
                                                    <p class="m-0 h1">答</p>
                                                            <p class="m-0 h4 mt-3">${item['qahistoryA']}</p>
                                                </div>`;

                            $(".chat-content").append(questionDiv);
                            $(".chat-content").append(answerDiv);
                        });
                    },Error:function(error){
                        console.log("Error")
                        console.log(error);
                    }
                });
            });
        });


    </script>
</body>

</html>